python-telegram-bot
google-generativeai
edge-tts
moviepy>=1.0.3
Pillow
requests
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
yfinance
duckduckgo-search
beautifulsoup4
pydub
numpy
imageio
imageio-ffmpeg
feedparser
python-dotenv
