python-telegram-bot==20.8
google-generativeai
edge-tts
asyncio
moviepy
Pillow
requests
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
yfinance
duckduckgo-search
beautifulsoup4
pydub
numpy
imageio
imageio-ffmpeg
feedparser
python-dotenv
